@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.WhyChooseUs)Model.Content;
}
<div class="why-us-box">

    @{
        // The Umbraco Helper has a Media method that will retrieve a Media Item by Guid in the form of IPublishedContent. In this example, the Media Item has a Guid of 55240594-b265-4fc2-b1c1-feffc5cf9571
        var mediaItem = Umbraco.Media(Guid.Parse(@content.Value("whyUsBlockIconId").ToString()));

        if (mediaItem != null)
        {
            // To get the URL for your media item, you use the Url method:
            var url = mediaItem.Url();
            // to read a property by alias
            
            

            <img src="@url" alt="@mediaItem.Name" class="why-us-icon" />
        }
    }
    <h2 class="why-us-title">@content.Value("whyUsBlockTitle")</h2>
    <p class="why-us-description">@content.Value("whyUsBlockDescription")</p>
</div>